<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hotel Website</title>
  <link rel="stylesheet" href="../public/styles/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e23084d3ca.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="home-page-section">
    <nav class="navbar navbar-expand-md navbar-dark" aria-label="Fourth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample04" style="">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="navbar-brand" href="#">Vis<span style="color: orange">T</span>ro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
          </ul>
          <a href="/logout" class="book-now">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 style="color: white;" class="display-4 fw-bold lh-1 ">
            Welcome to <font>Vistro</font>: Your Oasis of Luxury and Comfort in
            <span style="color: orange">Pune</span>
          </h1>
          <p class="lead">
            Vistro Hotel: A boutique haven in Pune, seamlessly blending modern
            luxury and warm hospitality. Immerse yourself in sophistication
            and personalized service for an unforgettable stay.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
              Book Now
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
              Events
            </button>
          </div>
        </div>
        <div class="image-div col-lg-4 offset-lg-1 p-0 overflow-hidden">
          <img class="burger-img rounded-lg-3" src="galleryImage/greet.png" alt="" height="450" />
        </div>
      </div>
    </div>
  </section>

  <section class="about-us-section">
    <div class="container">
      <div class="row featurette">
        <div class="col-md-5 img-grid">
          <div class="row img-row">
            <div class="col img-col">
              <img class="grid-img" src="galleryImage/pexels-pew-nguyen-244133.jpg" alt="" />
            </div>
            <div class="col img-col">
              <img class="grid-img" src="galleryImage/pexels-donald-tong-189333.jpg" alt="" />
              <img class="grid-img" src="galleryImage/pexels-pixabay-53577.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <h1 class="headings display-4 fw-bold lh-1 text-body-emphasis">
            ABOUT US
          </h1>
          <p class="about-para">
            At Vistro Hotel, we are dedicated to crafting exceptional
            experiences for our guests. Situated in the heart of Pune, our
            boutique establishment reflects a commitment to blending modern
            comfort with personalized service. From our thoughtfully designed
            spaces to our attentive staff, we strive to create a welcoming
            atmosphere that goes beyond expectations. Whether you're here for
            business or leisure, Vistro Hotel invites you to indulge in a
            unique stay where every detail is tailored to elevate your
            experience. Discover the essence of hospitality with us.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="services-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>What We Do</span>
            <h2>Discover Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-earth-americas fa-2xl"></i>
            <h4>Travel Plan</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-utensils fa-2xl"></i>
            <h4>Catering Service</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-baby-carriage fa-2xl"></i>
            <h4>Babysitting</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-jug-detergent fa-2xl"></i>
            <h4>Laundry</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-car-side fa-2xl"></i>
            <h4>Hire Driver</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-champagne-glasses fa-2xl"></i>
            <h4>Bar &amp; Drink</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="gallery-section">
    <div class="container">
      <h1 class="headings display-4 fw-bold lh-1 text-body-emphasis">
        Gallery
      </h1>
      <div class="gallery-img">
        <div class="row img-row">
          <div class="col img-col">
            <img class="grid-img" src="galleryImage/pexels-anastasia-shuraeva-4994131.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-caio-59884.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-donald-tong-189333.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-javon-swaby-1697902.jpg" alt="">
          </div>
          <div class="col img-col">
            <img class="grid-img" src="galleryImage/pexels-karolina-grabowska-5716784.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-nicole-michalou-5775055.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-pew-nguyen-244133.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-pixabay-53577.jpg" alt="">
          </div>
          <div class="col img-col">
            <img class="grid-img" src="galleryImage/pexels-javon-swaby-1697902.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-caio-59884.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-pew-nguyen-244133.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-nicole-michalou-5775055.jpg" alt="">
          </div>
          <div class="col img-col">
            <img class="grid-img" src="galleryImage/pexels-karolina-grabowska-5716784.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-nicole-michalou-5775055.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-pew-nguyen-244133.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-pixabay-53577.jpg" alt="">
          </div>
          <div class="col img-col">
            <img class="grid-img" src="galleryImage/pexels-anastasia-shuraeva-4994131.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-caio-59884.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-donald-tong-189333.jpg" alt="">
            <img class="grid-img" src="galleryImage/pexels-javon-swaby-1697902.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

  </section>

  <hr style="height: 5px; color: red; width: 50%; margin:30px auto;">

  <section class="contact-section">
    <div class="container">
      <div class="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2 class="display-4 fw-bold lh-1 text-body-emphasis">
                  Contact Us
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form id="request" class="main_form">
                <div class="row">
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Name" type="type" name="Name" />
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Email" type="type" name="Email" />
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number" />
                  </div>
                  <div class="col-md-12">
                    <textarea class="textarea" placeholder="Message" type="type" message="Name">
  Message</textarea>
                  </div>
                  <div class="col-md-12">
                    <button class="send_btn">Send</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div class="map_main">
                <div class="map-responsive">
                  <iframe
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Swargate+Pune"
                    width="600" height="400" frameborder="0" style="border: 0; width: 100%" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Contact Us</h3>
          <ul class="conta">
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i> Address
            </li>
            <li>
              <i class="fa fa-mobile" aria-hidden="true"></i> +01 1234569540
            </li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a>
            </li>
          </ul>
          <ul class="social_icon">
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Menu Link</h3>
          <ul class="link_menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>